opencv-python-headless==4.8.1.78; platform_system == "Darwin"
opencv-python-headless==4.10.0.84; platform_system != "Darwin"
pandas>=2.1
numpy>=1.26,<2; platform_system == "Darwin"
numpy>=1.26; platform_system != "Darwin"
matplotlib>=3.8
Pillow>=10.0
openpyxl>=3.1
PyYAML>=6.0
Flask>=3.0
imageio-ffmpeg>=0.6
reportlab>=4.2
keyring>=25.0
onvif-zeep>=0.2.12
certifi>=2024.2.2
